@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bitter', serif;
    width: 100%;
}

img {
    width: 100%;
}

/* ====================================== */

/* Variables */
:root {
    /* Colours */
    --colour-1: black;
    --colour-2: white;
    --colour-3: rgb(175, 18, 18);
    --colour-4: rgb(219, 219, 219);
    
    /* Font Sizes */
    --extra-small-font: 0.75rem;
    --small-font: 2rem;
    --medium-font: 5rem;
    --large-font: 8rem;

    /* Padding */
    --extra-small-padding: 0.5em;
    --small-padding: 1em;
    --medium-padding: 3em;
    --large-padding: 6em;

    /* Margin */
    --extra-small-margin: 0.5em;
    --small-margin: 1em;
    --medium-margin: 3em;
    --large-margin: 6em;
    --extra-large-margin: 12em;
}

/* ====================================== */

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--colour-1);
    color: var(--colour-1);
    width: 100%;
    height: auto;
    padding: var(--small-padding) 0;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}

.navbar .website-branding {
    display: flex;
    flex-direction: column;
    gap: var(--small-margin);
    margin: var(--small-margin) 0;
}

.navbar .website-branding h3 {
    color: var(--colour-2);
    font-size: var(--medium-font);
}

.navbar .nav-buttons {
    display: flex;
    flex-direction: row;
}

/* Welcome Banner */
.welcome-banner {
    height: 600px;
    
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trim {
    max-height: 50%;
    max-width: 100%;
    overflow: hidden;
}

.welcome-banner .welcome-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: var(--extra-large-margin);
}

.welcome-text h1 {
    font-size: var(--medium-font);
    font-weight: 800;
    color: var(--colour-2);
}

.welcome-text p {
    font-size: var(--small-font);
    color: var(--colour-2)
}

/* Button */
.btn-grad, .btn-grad2 {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)
}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover, .btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
    cursor: pointer;
 }

 .btn-grad2 {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 
/* Section */
.section {
    padding: var(--large-padding);
    display: flex;
    flex-direction: column;
    gap: var(--medium-margin);

    /* background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); */
    
}

.section .row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-margin);
}

.section .row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-margin);
}

/* Cards */

.card-type-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-margin);
    width: 250px;
    height: auto;

    background-color: var(--colour-4);
    border-width: 1px;
    border-color: var(--colour-1);
    border-radius: 10px;
    overflow: hidden;
}

.card-type-1 img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card-type-1 .card-text {
    padding: var(--small-padding) var(--medium-padding);
}

.card-type-1 button, .card-type-2 button  {
    margin: 0 0 var(--medium-padding) 0;
}

.card-type-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-margin);
    width: auto;
    
    background-color: var(--colour-4);
    border-width: 1px;
    border-color: var(--colour-1);
    border-radius: 10px;
    overflow: hidden;

}

.card-type-2 img:hover {
    transform: scale(1.025);
    transition: 0.5s;
}

.card-type-2 .card-text {
    padding: var(--small-padding) var(--medium-padding);
}

/* Info Section */
.info-banner {
    height: 400px;

    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-banner .info-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: var(--large-margin);
}

.info-text h1 {
    font-size: var(--small-font);
    font-weight: 400;
    color: var(--colour-2);
}

.info-text p {
    margin-top: var(--small-margin);
    font-size: var(--extra-small-fontsmall-font);
    color: var(--colour-2)
}

/* Contact Form */
.contact-form {
    background-color: var(--colour-4);
    padding: var(--large-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form .form-block {
    display: flex;
    flex-direction: column;
    gap: var(--medium-margin);
}

.contact-form .form-block h2 {
    font-size: var(--small-font);
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--large-padding);
    background-color: var(--colour-1);
    color: var(--colour-2);
}

.footer .top-area {
    display: flex;
    flex-direction: column;
    gap: var(--small-margin);
}

.section-divider {
    margin: var(--large-margin);
    width: 95%;
    height: 1px;
    background-color: #ccc;
}

.footer .xtrasmall-p-tag {
    font-size: var(--extra-small-font);
}